<template>
    <span>
        <home-hero
            headline="Join the Movement"
            text="We are very excited that you are interested and willing to contribute to Athena!"
            paddinghero
            buttonSlack
        ></home-hero>
        <div class="bg-white pb-big">
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12 sm12 md6 m-3 pa-5>
                        <h2>We’re Looking For…</h2>
                        <p>
                            Project Athena welcomes everyone who is able to
                            contribute. Some skills we are looking for to join
                            the project are listed below and updated accordingly
                        </p>
                        <ul>
                            <li>UI / UX</li>

                            <li>Product Owners</li>
                            <li>Software Developers - Frontend, Backend</li>
                            <li>Data Scientists</li>
                            <li>Data Engineers</li>
                            <li>Data Analysts</li>
                            <li>Business Analysts</li>
                            <li>Project Managers</li>
                            <li>Database Experts</li>
                            <li>Medical Researchers</li>
                            <li>Marketers</li>
                            <li>Athena Influencers</li>
                            <li>Anyone who can contribute!</li>
                        </ul>
                    </v-flex>
                    <v-flex xs12 sm12 md6 m-3 pa-5>
                        <h2>On-boarding Information</h2>
                        <div>
                            We are very excited that you are interested and
                            willing to contribute to Athena! To join Athena,
                            please follow these steps:
                            <ol>
                                <li>
                                    Please read through our On-boarding
                                    information
                                </li>

                                <li>Join via the Join Now link</li>
                                <li>
                                    In the announcements channel, please state
                                    who you are, what skills you bring and if
                                    you would like to lead a particular work
                                    stream or what idea/project you would like
                                    to work on
                                </li>
                            </ol>
                        </div>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12 sm12 m-3 pa-5>
                        <h2>Slack guidelines</h2>

                        <ol>
                            <li>
                                Slack is our communication channel and we do not
                                store any documents or data
                            </li>

                            <li>
                                If there is something that is bothering you
                                about Slack or our tooling, please refer to the
                                “Improvements” channel or discuss matters in
                                relevant channels
                            </li>
                            <li>
                                We do not use Slack for documentation purposes,
                                documentation is done on this website or other
                                sites that we link in the channel
                            </li>

                            <li>
                                The #announcements-channel is for announcements
                                only. Announcements are made by the Athena
                                committee. Discussions happen in more specific
                                channels.
                            </li>

                            <li>
                                There are two general channels for you to get
                                guidance and help:
                                <ul>
                                    <li>
                                        #questions_and_answers for any kind of
                                        information based on your questions
                                    </li>
                                    <li>
                                        #improvements for suggestions and
                                        discussions around project Athena and
                                        how to improve it.
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex pa-5>
                        <v-btn
                            icon
                            class="mx-2"
                            fab
                            dark
                            color="primary"
                            href="https://projectathenaco.slack.com/join/shared_invite/zt-f3p49y0w-u0im1B3nAdyD8CKOTqtMtA"
                            target="_blank"
                        >
                            <v-avatar size="90px">
                                <img
                                    src="../assets/img/Slack_Mark_Monochrome_White.svg"
                                    alt
                                    style="height:90px;"
                                /> </v-avatar
                            >Join us on Slack!
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
        <home-footer></home-footer>
    </span>
</template>

<script>
import HomeHero from '@/components/HomeHero';
import HomeFooter from '@/components/HomeFooter';

export default {
    name: 'join',
    components: {
        HomeHero,
        HomeFooter
    }
};
</script>
